
.icon-wrench:before { content: '\e800'; } /* '' */
.icon-cog-outline:before { content: '\e801'; } /* '' */
.icon-menu:before { content: '\f0c9'; } /* '' */
.icon-shield:before { content: '\f132'; } /* '' */
.icon-cab:before { content: '\f1b9'; } /* '' */